.container{
    display: flex;
    position: sticky;
    flex-direction: row;
    top: 0px;
}

.btn{
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    transition-duration: 0.7s;    
}
.btn:hover{
    background-color: blue;
    box-shadow: 10px 10px 10px black;
}

@media screen and (max-width: 500px) {
    .container{
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
}